<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Turnt Up</title>
  </head>
  <body>
      <div class="container">
          <img id="conan" src="/img/conan.jpg" />
           <h1>Librarian Access</h1>
           <div class="col-sm-4">
               <div class="well">
                   <h2>Overdue Books</h2>
               </div>
           </div>
           <div class="col-sm-4">
                <div class="well">
                    <h2>Patrons</h2>
                    <form action="/librarian/add/patron" method="post">
                        <div class="form-group">
                            <label for="">Name:</label>
                            <input class="form-control" type="text" name="input_name">
                        </div>
                        <button class="form-control btn btn-success" type="submit" name="button">Submit</button>
                    </form>
                </div>
                <div class="well">
                    <h2>All Patrons</h2>
                    {% if allPatrons is not empty %}
                    <ul>
                        {% for patron in allPatrons %}
                        <a href="/librarian/patron/{{patron.getId}}"><li>{{patron.getName}}</li></a>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% if patron %}
                    <div class="well">
                        <h3>{{patron.getName}}</h3>
                        {% if patron.getFine > 0%}
                            <li>Balance: {{patron.getFine}}</li>
                        {% endif %}
                        <form class="" action="/librarian/patron/edit/{{patron.getId}}" method="post">
                            <label for="">Edit Name:</label>
                            <input type="hidden" name="_method" value="patch">
                            <input type="hidden" name="patron_id" value="{{patron.getId}}">
                            <input class="form-control" type="text" name="patron_name" value="{{patron.getName}}">
                            <button class="form-control btn btn-info" type="submit" name="button">Update</button>
                        </form>
                        <form class="" action="/librarian/patron/delete/{{patron.getId}}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button class="form-control btn btn-danger" type="submit" name="button">Delete <spah class="glyphicon glyphicon-trash"></span></button>
                        </form>

                    </div>
                {% endif %}
           </div>
           <div class="col-sm-4">
               <div class="well">
                   <h2>Books</h2>
                   <form  action="/librarian/add/book" method="post">
                       <div class="form-group">
                          <label for="">Title</label>
                          <input class="form-control" type="text" name="title">
                       </div>
                       <div class="form-group">
                           <label for="">Author</label>
                           <input class="form-control" type="text" name="author">
                       </div>
                       <div class="form-group">
                           <label for="">Number of Copies</label>
                           <input type="text" name="numberOfCopies" value="1" required>
                       </div>
                       <button class="form-control btn btn-success" type="submit" name="button">Submit</button>
                   </form>
               </div>
               <div class="well">
                       <h2>All Books</h2>
                       {% if allBooks is not empty %}
                       <ul>
                           {% for book in allBooks %}
                          <li> <a href="/librarian/book/{{book.getId}}"> {{book.getTitle}}</a> - {{book.getAuthor}} - {{book.getId}}</li>
                           {% endfor %}
                       </ul>
                       {% endif %}

               </div>
               {% if book %}
               <div class="well">
                   <h3>{{book.getTitle}}</h3>
                   <h4>{{book.getAuthor}}</h4>
                   <h4>{{book.getId}}</h4>
                   <p>Number of Copies: {{totalCopies}}</p>
                   <p>Copies Available: {{availableCopies}}  </p>
                   <h3>Edit</h3>
                   <form class="" action="/librarian/book/edit/{{book.getId}}" method="post">
                       <input type="hidden" name="_method" value="patch">
                       <div class="from-group">
                           <label for="">Author</label>
                           <input class="form-control" type="text" name="author" value="{{book.getAuthor}}">
                       </div>
                       <div class="from-group">
                           <label for="">Title</label>
                           <input class="form-control"  type="text" name="title" value="{{book.getAuthor}}">
                       </div>
                       <div class="from-group">
                           <label for="">Number Of Copies</label>
                           <input class="form-control"  type="text" name="numberOfCopies" value="{{totalCopies}}">
                       </div>
                       <button class="form-control btn btn-info" type="submit" name="button">Update</button>
                   </form>
                   <form  action="/librarian/book/delete/{{book.getId}}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button class="form-control btn btn-danger" type="submit">Delete <spah class="glyphicon glyphicon-trash"></span></button>
                   </form>
               </div>
               {% endif %}
           </div>
      </div>


  </body>
</html>
